:root,
body,
html,
main {
    margin: 0;
    background-color: #0e1926;
    display: flex;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

a {
    color: #35b1f0;
    text-decoration: underline;
}